dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.aux
*.log
*.vrb
*.blg
*.bbl
*.DS_Store
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.out
*.snm
*-nup.pdf
.DS_Store
.iTeXMac
*-2x2.pdf
*.pyc
html
latex
*.class

# Temporary Excel files
~$*  
